{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}lostPassword.header.caption{% endtrans %}
{% endblock %}
{% block body %}
    <section class="resume d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h1>{% trans %}lostPassword.header.caption{% endtrans %}</h1>
                </div>
            </div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-sm-2 offset-1">
                    <label>
                    {% trans %}lostPassword.form.label.email{% endtrans %}
                    </label>
                </div>
                <div class="col-sm-7">
                    {{ form_widget(form.email, {'attr': {'class' : 'form-control', 'autofocus' : true }}) }}
                    {{ form_help(form.email) }}
                </div>

            </div>
            {% if form_errors(form.email) %}
                <div class="row">
                    <div class="col-sm-7 offset-2 text-danger">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            {% endif %}
            <div class="row pt-3">
                <div class="col-sm-7 offset-4">
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.lostPassword, {'attr': {'class' : 'btn btn-success'}}, {'label': 'lostPassword.form.button.reset'|trans}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}