{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}newPassword.header.caption{% endtrans %}
{% endblock %}
{% block body %}
    <section class="resume d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h1>{% trans %}newPassword.header.caption{% endtrans %}</h1>
                </div>
            </div>
            {% if hashError %}
                <div class="row mb-5">
                    <div class="col">
                        <p class="alert alert-danger">{{ hashError }}</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <a href="{{ path('app_login') }}" class="btn btn-success">&lt;-- {% trans %}newPassword.button.back_to_login{% endtrans %}</a>
                    </div>
                </div>
            {% else %}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row pt-2">
                    <div class="col-sm-2 offset-2">
                        {% trans %}newPassword.form.label.password{% endtrans %}
                    </div>
                    <div class="col-sm-7">
                        {{ form_widget(form.password['first'], {'attr': {'class' : 'form-control'}}) }}
                    </div>
                </div>
                {% if form_errors(form.password['first']) %}
                    <div class="row">
                        <div class="col-sm-10 offset-2 text-danger">
                            {{ form_errors(form.password['first']) }}
                        </div>
                    </div>
                {% endif %}

                <div class="row pt-2">
                    <div class="col-sm-2 offset-2">
                        {% trans %}newPassword.form.label.verify_the_password{% endtrans %}
                    </div>
                    <div class="col-sm-7">
                        {{ form_widget(form.password['second'], {'attr': {'class' : 'form-control'}}) }}
                    </div>
                </div>
                {% if form_errors(form.password['second']) %}
                    <div class="row">
                        <div class="col-sm-2 offset-2 text-danger">
                            {{ form_errors(form.password['second']) }}
                        </div>
                    </div>
                {% endif %}

                <div class="row pt-3">
                    <div class="col-sm-7 offset-4">
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.changePassword, {'attr': {'class' : 'btn btn-success'}}, {'label': 'newPassword.form.button.change_password'|trans}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
