<nav class="navbar navbar-expand-md navbar-light bg-light navbar-main">
    <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('images/logo_256.png') }}" class="navbar-brand-icon"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMainMenu" aria-controls="navbarsMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsMainMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if app.request.pathInfo == path('index') %} active{% endif %}">
                <a class="nav-link" href="{{ path('index') }}">{% trans %}menu.home{% endtrans %} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">{{ app.user.fullName }}</li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('/images/svg/icons/gear.svg') }}"  width="32" height="32"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                        <a class="dropdown-item{% if app.request.pathInfo == logout_url('main') %} active{% endif %}" href="{{ logout_url('main') }}">{% trans %}menu.logout{% endtrans %}</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item{% if app.request.pathInfo == path('app_register') %} active{% endif %}"><a href="{{ path('app_register') }}" class="nav-link">{% trans %}menu.register{% endtrans %}</a></li>
                <li class="nav-item{% if app.request.pathInfo == path('app_login') %} active{% endif %}"><a href="{{ path('app_login') }}" class="nav-link">{% trans %}menu.log_in{% endtrans %}</a></li>
            </ul>
        {% endif %}
    </div>
</nav>